

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    padding-top: 1px;
}

.product-list {
    width: 80%;
    
    padding: 10px;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.product-list .card {
    max-width: 150px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    
}

.product-list .card img {
    width: 100%;
    height: auto;
}

.product-list .card:hover {
    transform: scale(1.1);
}

.payment-info {
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    margin: 20px auto;
    min-height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.payment-info form{
    width: 100%;
}

.payment-info form label {
    cursor: pointer;
    margin-right: 20px;
}

.payment-info form label input {
    cursor: pointer;
}

.btn {
    outline: none;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #333;
    color: white;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: white;
    color: #333;
    transform: scale(1.1);
}

#address {
    display: none;
    width: 100%;
    margin: 20px 0 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    resize: none;
    
}

#address-error {
    color: rgb(241, 100, 100);
    position: absolute;
    right: 5%;
    bottom: 40%;
    display: none;
    
}

/* Xác nhận thanh toán */

.validate-payment {
    
    font-family: "Poppins", cursive;
    width: 60%;
    position: absolute;
    z-index: 1;
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid darkgreen;
   
}

.validate-payment h2 {
    font-size: 25px;
  
}

.validate-payment .product-payment-list span {
    color: rgb(245, 23, 223);
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 0;
    left:3%;
}

.vohinh {
    display: none;
}

.payment-error {
    display: none;
    position: absolute;
    bottom: 5%;
    color: red;
}