* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    padding: 1px;
}

.hero {
    padding: 20px 0;
    background-color: whitesmoke;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    margin: 90px auto 0;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    font-weight: bold;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.left .logo {
    flex: 0.2;
    font-family: cursive;
    font-size: 16px;
    white-space: nowrap;
    background: linear-gradient(to right, rgb(238, 7, 46), rgb(224, 36, 209), blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left .details {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.left .details p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.left .details .product-name {
    font-family: "Playwrite IT Moderna", cursive;
    width: 50%;
    font-size: 30px;
    border-bottom: 3px solid black;
}

.left .details .product-cost {
    color: rgb(142, 5, 5);
    
    font-size: 24px;
}

.left .details button {
    color: white;
    padding: 10px 20px;
    width: 30%;
    border: none;
    outline: none;
    background: linear-gradient(to right, #ccc, black, #333);
    border-radius: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.4s;

}

.left .details button:hover {
    transform: translateY(-9%);
    transform: scale(1.05);
    color: blue;
    background: #bbb;
}

.right {
    
    border-radius: 0 20px 20px 0;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .wrap {
    display: flex;
    position: relative;
}

.right .wrap button{
    position: absolute;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
    cursor: pointer;
}

.right .wrap .before {
    top: 50%;
    left: -5%;
    transform: translateY(-50%) rotate(180deg);
    opacity: 0.1;
}

.right .wrap .after {
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);
}

.right .product-image-container {
    flex: 0.9;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10%;
}

.right .product-image-container::-webkit-scrollbar {
    display: none;
}

.right .product-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.right .product-image-container p {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
}

.right .product-image-container p:hover {
    color: red;
    transform: scale(1.3);
}

.right .product-image-container #left-image {
    top: 50%;
    left: -5%;
}

.right .product-image-container #right-image {
    top: 50%;
    right: -5%;
}

.right .other-products {
    flex: 1;
    display: flex;
    padding: 20px 10px;
    gap: 10px;
    
}

.right .other-products .card {
    border: 2px solid #333;
    border-radius: 10px;;
    padding: 6px;
    transition: all 0.3s;
    text-align: center;
}

.right .other-products .card:hover {
    cursor: pointer;
    border: 2px solid #ccc;
    transform: scale(1.1);
}

.right .other-products .card img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
}

#submit-message {
    position: absolute;
    display: none;
    font-size: 30px;
    color: rgba(17, 255, 17, 0.669);
    left: 30%;
    transform: translate(100%, -110%);
}

